@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/*-------------------------------------------------------------------------------------------------------*/
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("/images/technology.jpg");
  background-size: cover;
  overflow: hidden;
}
/*-------------------------------------------------------------------------------------------------------*/
.container-imagen {
  position: absolute;
  bottom: 0;
  left: 0;
}
.container-imagen img {
  width: 100%;
  filter: drop-shadow(10px 5px 10px #e9e5e5);
  opacity: 0.2;
}
/*-------------------------------------------------------------------------------------------------------*/
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/*-------------------------------------------------------------------------------------------------------*/
.container__carta {
  margin: auto;
  margin-top: 100px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 5%;
  left: calc(50% - 250px);
}
/*-------------------------------------------------------------------------------------------------------*/
/*-webkit-box-reflect para dar el reflejo primer balor direccion del reflejo
segundo valor la separacion del reflejo , y terser valor mascara del reflejo , compuesta por un dradiente 
primeros valores color de abajo y despues del medio al poner trasparent lo difumina , y el ultimo valor el mas cercano a la carta 
ponemo rgba para poder darle opacidad*/
.tarjeta-padre {
  margin: 20px;
  perspective: 1000px;
  -webkit-box-reflect: below 0
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.5));
}

.tarjeta-padre:hover .tarjeta {
  transform: rotateY(180deg);
}
/*-------------------------------------------------------------------------------------------------------*/
/*---tarjeta es el que da las dimensiones de la tarjeta-----------*/
.tarjeta {
  width: 500px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d; /*perserva el flip osea el movimiento en 3d*/
  transition: all 800ms; /* nos permite dar una trancicon mas lenta o rapida al movimiento que determinamos con le hover*/
}

.tarjeta-frente {
  background: url("/images/teclado.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  position: relative;
}
.engrane-derecha {
  position: absolute;
  top: -100px;
  left: -100px;
}
.engrane-izquierda {
  position: absolute;
  transform: translate(350px, 150px);
}
.engrane-izquierda img {
  width: 40%;
}
.engrane-derecha img {
  width: 50%;
  transform: rotateZ(60px);
}
/*-------------------------------------------------------------------------------------------------------*/
.tarjeta-frente,
.tarjeta-atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}
/*-----------------------------------------------------------*/
/*---------fondo y befoore---------*/
.tarjeta-atras {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  background: url("/images/teclado.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
}
.tarjeta-atras::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(8, 8, 8, 0.9);
  border-radius: 20px;
}
.cuerpo-tarjeta_atras h3 {
  font-size: 2.5rem;
}
.cuerpo-tarjeta_atras ul {
  list-style: none;
}
.cuerpo-tarjeta_atras ul li {
  font-size: 0.8rem;
}
.cuerpo-tarjeta_atras span {
  font-size: 0.8rem;
}
/*cuerpo de la tarjeta de la aprte del frente*/
.cuerpo-tarjeta_frente {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px);
}
/*-------------------------------------------------------------------------------------------------------*/
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
/*cuerpo de la tarjeta de la parte de atras*/
.cuerpo-tarjeta_atras {
  padding: 40px;
  text-align: center;
  transform: translateZ(60px);
  color: antiquewhite;
}

.cuerpo-tarjeta_atras p {
  margin-top: 30px;
  font-size: 18px;
}

.cuerpo-tarjeta_atras button {
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58b0f6;
  box-shadow: 1px 1px 30px -5px #58b0f6;
  border-radius: 10px;
  transition: box-shadow 600ms;
}
/*-------------------------------------------------------------------------------------------------------*/
.cuerpo-tarjeta_atras button:hover {
  box-shadow: 1px 1px 30px 0px #449de6;
}
/*-------------------------------------------------------------------------------------------------------*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*-------------------------------------------------------------------------------------------------------*/
@media (prefers-reduced-motion: no-preference) {
  .engrane-chico {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/*-------------------------------------------------------------------------------------------------------*/
@media (max-width: 700px) {
  .container__carta {
    top: 5%;
    left: 10px;
  }
  .tarjeta {
    width: 300px;
    height: 500px;
  }
  .engrane-izquierda {
    position: absolute;
    transform: translate(50px, 150px);
  }
  .engrane-izquierda img {
    width: 150%;
  }
}
@media (orientation: landscape) {
  .container__carta {
    margin-top: 10px;
    top: 0;
    left: calc(50% - 250px);
  }
}
